@model List<OnlineAlbum.Models.ImageModel>

     @foreach (var item in Model)
     {
        <div>
            @Html.Raw("<img src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(item.Content) + "\" />")
        </div>
     }

