@model List<OnlineAlbum.Models.ImageModel>

     @foreach (var item in Model)
     {
         @Html.ActionLink("Delete", "DeleteView", new { id = item.ImageId}, htmlAttributes: new { @class = "btn btn-danger" })
        <div>
            @Html.Raw("<img src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(item.Content) + "\" />")
        </div>
     }