@model List<OnlineAlbum.Models.ImageModel>

     @foreach (var item in Model)
     {
         @Html.ActionLink("Delete", "DeleteView", new { id = item.ImageId}, htmlAttributes: new { @class = "btn btn-danger" })
        <div>
            <img src="@item.ImagePath" class="img-rounded" />
        </div>
     }

