@model OnlineAlbum.Models.ImageModel

    <div class="container body-content">
        <h2 align="center">Delete Image?</h2>
        @using (Html.BeginForm("DeleteConfirm", "Image", FormMethod.Post))
        {
            @Html.Hidden("id", Model.ImageId)
            <div class="containerForImg">
                @Html.Raw("<img style='max-width:60%' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.Content) + "\" />")
                <div align="center" style="padding:5px">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.ActionLink("Cancel", "Index", new { area = "" }, htmlAttributes: new { @class = "btn btn-info" })
                </div>
            </div>
        }
    </div>