@model List<OnlineAlbum.Models.ImageModel>
@{
    ViewBag.Title = "Add picture";
}
<h3>Choose upload file</h3>


@using (Html.BeginForm("Upload", "Image", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline"}))
{                  
            <input type="file" value="Choose File" name="upload" accept="image/*" class="btn btn-primary" style="margin:5px 0px 5px 0px"/>
            <input type="text" class="input-sm" placeholder="Title..." name="description" />
            <input type="submit" value="Upload" class="btn btn-success"/>
}
@Html.Partial("_ShowImages")

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}